@font-face {
	font-family: "TTNorms";
	src: local("TTNorms"), url("../fonts/TTNorms-Regular.otf");
	font-weight: 100;
}
@font-face {
	font-family: "TTNorms-Bold";
	src: local("TTNorms-Bold"), url("../fonts/TTNorms-Bold.otf");
	font-weight: 100;
}
@font-face {
	font-family: "TTNorms-Medium";
	src:  local("TTNorms-Medium"), url("../fonts/TTNorms-Medium.otf");
	font-weight: 100;
}
@font-face {
	font-family: "TTNorms-Light";
	src:  local("TTNorms-Light"), url("../fonts/TTNorms-Light.otf");
	font-weight: 100;
}
