button {
	outline: none;
	border: none;
	background-color: transparent;
}

html {
	scroll-behavior: smooth
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #333;
	font-family: "TTNorms", Arial, Helvetica, sans-serif;
	vertical-align: baseline;
	cursor: default;
	font-variant-ligatures: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

::-webkit-scrollbar {
	display: none;
}

input,
textarea {
	appearance: none;
}
